@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.button {
  display: block;
  text-decoration: none;
  border-radius: 3px;
  background-color: #f16d7f;
  color: #fff;
  font-weight: 400;
  transition: background-color 0.2s, color 0.2s; }
  .button:hover {
    outline: 1px solid #ef5b70;
    box-sizing: border-box;
    background-color: #fff;
    color: #ef5b70; }
  .button:active {
    color: #4a4a4a;
    outline: 1px solid #eaeaea; }
  .button_myAccount {
    height: 38px;
    line-height: 38px;
    font-size: 15px; }
    .button_myAccount:after {
      content: "▼";
      position: absolute;
      margin-left: 6px; }
  .button_viewAll {
    height: 44px;
    line-height: 44px;
    font-size: 16px; }
  .button_addToCard {
    height: 55px;
    line-height: 55px;
    text-align: center;
    position: relative; }
    .button_addToCard:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="24" viewBox="0 0 32 29"><defs><path id="yvuca" d="M1181 41.182c0-.65.533-1.182 1.184-1.182h4.28c.533 0 1.007.354 1.145.867l4.833 17.455h13.178l4.379-10.048H1195.4a1.186 1.186 0 0 1-1.184-1.182c0-.65.533-1.182 1.184-1.182h16.413c.394 0 .77.197.986.532.217.335.257.749.099 1.123l-5.405 12.412c-.198.433-.612.709-1.085.709h-14.855a1.184 1.184 0 0 1-1.144-.867l-4.833-17.455h-3.393a1.186 1.186 0 0 1-1.184-1.182zm6.747 25.138a2.684 2.684 0 0 1 5.365 0 2.684 2.684 0 0 1-5.365 0zm16.788.178c-.1-1.458 1.006-2.758 2.485-2.857 1.48-.098 2.762 1.025 2.86 2.483.04.728-.177 1.418-.65 1.95a2.678 2.678 0 0 1-1.835.926h-.197c-1.401 0-2.565-1.103-2.663-2.502z"/></defs><g><g transform="translate(-1181 -40)"><use fill="#fff" xlink:href="#yvuca"/></g></g></svg>');
      position: absolute;
      top: 5px;
      left: 187px;
      transition: color 0.2s; }
    .button_addToCard:hover:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="24" viewBox="0 0 26 24"><path fillRule="evenodd" d="M 25.92 6.26C 25.92 6.26 21.53 16.53 21.53 16.53 21.37 16.89 21.03 17.12 20.64 17.12 20.64 17.12 8.57 17.12 8.57 17.12 8.14 17.12 7.76 16.83 7.65 16.4 7.65 16.4 3.72 1.96 3.72 1.96 3.72 1.96 0.96 1.96 0.96 1.96 0.43 1.96-0 1.52-0 0.98-0 0.44 0.43-0 0.96-0 0.96-0 4.44-0 4.44-0 4.87-0 5.26 0.29 5.37 0.72 5.37 0.72 9.3 15.16 9.3 15.16 9.3 15.16 20 15.16 20 15.16 20 15.16 23.56 6.85 23.56 6.85 23.56 6.85 11.7 6.85 11.7 6.85 11.17 6.85 10.74 6.41 10.74 5.87 10.74 5.33 11.17 4.89 11.7 4.89 11.7 4.89 25.04 4.89 25.04 4.89 25.36 4.89 25.66 5.05 25.84 5.33 26.01 5.61 26.05 5.95 25.92 6.26ZM 7.66 19.56C 8.86 19.56 9.84 20.56 9.84 21.78 9.84 23 8.86 24 7.66 24 6.46 24 5.48 23 5.48 21.78 5.48 20.56 6.46 19.56 7.66 19.56ZM 21.14 19.56C 22.34 19.48 23.39 20.41 23.47 21.62 23.5 22.22 23.32 22.79 22.94 23.23 22.55 23.69 22.02 23.95 21.45 24 21.4 24 21.33 24 21.29 24 20.15 24 19.2 23.09 19.12 21.93 19.04 20.72 19.94 19.65 21.14 19.56Z" fill="rgb(239,91,111)"/></svg>'); }
  .button_checkout {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #fff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }

.header__button {
  padding-left: 19px;
  padding-right: 29px;
  margin-left: 8px; }

.pagination__button {
  padding: 0 46px; }

.drop-cart__button {
  padding: 19px 0;
  margin-bottom: 11px; }
  .drop-cart__button:last-of-type {
    margin-bottom: 0; }

.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #fff; }

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%; }

.header-left {
  display: flex;
  align-items: center; }

.header-form {
  display: flex;
  align-items: center; }

.browse-content {
  position: absolute;
  width: 262px;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  z-index: 1; }

.browse-heading {
  width: 236px; }

.browse-summary {
  display: block;
  width: 87px;
  height: 38px;
  line-height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  text-align: center;
  position: relative;
  padding-left: 16px; }

.browse-list {
  list-style-type: none;
  margin-left: 7px; }

.browse-mgb {
  margin-bottom: 20px; }

.browse-link {
  display: block;
  color: #4f4f4f; }

.browse-summary::-webkit-details-marker {
  display: none; }

.browse-summary::after {
  content: "▶";
  padding-left: 0.5em; }

.browse-dl[open] > .browse-summary::after {
  content: "▼";
  padding-left: 0.5em; }

.header-search {
  height: 38px;
  line-height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 0.35px;
  border-left: none;
  padding: 0;
  font-weight: 300; }

.search-input::-webkit-input-placeholder, .search-input::-moz-placeholder, .search-input:-moz-placeholder, .search-input:-ms-input-placeholder {
  color: #a4a4a4; }

.search-input {
  width: 280px;
  padding: 0 16px;
  color: #222; }

.search-img {
  display: block;
  color: #a4a4a4;
  width: 36px;
  padding: 0 11px;
  transition: color 0.3s; }
  .search-img:hover {
    color: #f16d7f; }

.header-right {
  display: flex;
  align-items: center;
  position: relative; }

.cart-box {
  position: relative; }

.cart-box:hover .drop-cart {
  display: block; }

.cart-img {
  margin-right: 26px; }

.drop-cart {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: -15px;
  width: 262px;
  padding: 21px 17px;
  display: none; }
  .drop-cart-item {
    display: flex;
    border-bottom: 1px solid #ededed;
    padding-bottom: 16px;
    margin-bottom: 16px; }
  .drop-cart-text {
    display: flex;
    flex-direction: column;
    padding: 10px 14px;
    position: relative;
    width: 100%; }
  .drop-cart-heading {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px; }
  .drop-cart-count {
    color: #f16d7f;
    font-size: 12px;
    text-transform: uppercase;
    width: 52px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .drop-cart-count-x {
      font-size: 10px; }
  .drop-cart-del-btn {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 33px; }
    .drop-cart-del-btn:hover {
      color: #f16d7f; }
  .drop-cart-total {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between; }

.gold-stars {
  color: #e4af48;
  font-weight: 400;
  text-transform: uppercase; }
  .gold-stars_drop-cart {
    font-size: 12px; }
  .gold-stars_product-rate {
    font-size: 15px; }

.header__gold-stars {
  margin-bottom: 12px; }

.logo {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 27px;
  text-decoration: none;
  text-transform: uppercase; }

.logo-img {
  margin-right: 13px; }

.logo-d {
  color: #f16d7f;
  font-weight: 400;
  margin-right: 37px; }

.nav {
  background-color: #ffffff; }

.menu-list {
  list-style-type: none;
  display: flex;
  height: 51px;
  justify-content: center; }

.menu-item {
  position: relative; }

.menu-item:hover {
  border-bottom: 3px solid #ef5b70; }

.menu-item:hover .drop-box {
  display: flex; }

.menu-link {
  padding: 20px 15px;
  display: block;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.drop-box {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9e9e9;
  padding: 20px;
  position: absolute;
  top: 45px;
  left: -5px;
  display: none; }

.drop-box:before {
  position: absolute;
  top: -7px;
  left: 29px;
  transform: rotate(45deg);
  background: #fff;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea; }

.drop-flex {
  margin-right: 46px; }

.drop-heading {
  width: 235px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  text-decoration: none;
  margin: 0 0 10px; }

.drop-list {
  list-style-type: none; }

.drop-link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none; }

.drop-link:hover {
  color: #f16d7f; }

.drop-flex:last-of-type {
  margin-right: 0; }

.banner {
  height: 614px;
  background-color: #e8e8e8; }

.banner-back {
  height: 100%;
  background: url(img/back-b.jpg) 0 -51px;
  display: flex;
  align-items: center; }

.banner-text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px; }

.the-brand {
  color: #222222;
  font-size: 60px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }

.fashion {
  color: #222222;
  font-size: 40px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

.fashion-span {
  color: #f16d7f; }

.product-categories {
  margin-bottom: 100px; }

.category-list {
  height: 823px;
  margin-top: 98px;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between; }

.category-item {
  width: 560px; }

.for-men {
  height: 542px;
  background: url(img/for-man.jpg) no-repeat; }

.accesories {
  height: 261px;
  background: #dadad2 url("img/accesories.jpg") no-repeat 149px 0; }

.category-link {
  display: block;
  width: 175px;
  height: 82px;
  line-height: 41px;
  background-color: #ffffff;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  text-decoration: none;
  margin-top: 25px;
  padding: 16px 20px; }

.women {
  height: 261px;
  background: url(img/women.jpg) no-repeat; }

.for-kids {
  height: 542px;
  background: url(img/for-kids.jpg) no-repeat; }

.category-span {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px; }

.text {
  display: flex;
  align-content: center; }

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 113px; }

.heading-items {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin: 0 0 16px; }

.featured-text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-bottom: 0; }

.tac {
  text-align: center; }

.item-product {
  width: 263px;
  position: relative;
  margin-bottom: 39px; }

.item-product:hover .parent-add {
  display: flex; }

.item-product:hover img {
  filter: brightness(50%); }

.item-product:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.product-link {
  display: block;
  text-decoration: none; }

.product-img {
  width: 100%; }

.product-text {
  padding: 20px 14px; }

.product-name {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px; }

.product-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.parent-add {
  position: absolute;
  top: 94px;
  display: none;
  justify-content: center;
  width: 263px; }

.add {
  height: 39px;
  line-height: 39px;
  border: 1px solid #ffffff;
  padding-right: 14px;
  padding-left: 14px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none; }

.add:hover {
  box-shadow: 0 0 8px #fff; }

.box-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 63px;
  margin-bottom: 40px; }

.btn-product {
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  line-height: 48px; }

.features {
  display: flex;
  margin-bottom: 97px; }

.discount {
  width: 767px;
  background: url(img/discount-img.jpg) no-repeat;
  background-size: cover;
  padding: 146px 40px 305px; }

.disc-link {
  text-decoration: none; }

.disc-text {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.disc-amount {
  font-size: 54px;
  margin-bottom: 0; }

.disc-offers {
  color: #f16d7f; }

.discount-category {
  font-size: 32px;
  letter-spacing: 0.9px; }

.features-box {
  width: 373px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 48px 31px; }
  .features-box-catalog {
    width: 100%;
    flex-direction: row;
    padding: 89px 256px 114px; }

.feature-item {
  display: flex;
  justify-content: space-between; }
  .feature-item-catalog {
    flex-direction: column;
    align-items: center; }

.feature-block {
  margin-left: 35px;
  color: #fbfbfb; }
  .feature-block-catalog {
    margin-left: 0;
    width: 325px;
    margin-top: 30px; }

.heading-feature {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px; }
  .heading-feature-catalog {
    text-align: center; }

.feature-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px; }

.subscribe-review {
  background: url(img/subsribe-bg.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 110px; }

.subscribe-review-box {
  display: flex; }

.review-wrapper {
  width: 50%; }

.review-box {
  display: flex;
  padding-top: 111px;
  padding-right: 70px;
  padding-bottom: 201px;
  border-right: 1px solid #fff; }

.subscribe-wrapper {
  width: 50%; }

.subscribe-box {
  padding: 148px 92px 168px; }

.review-img {
  margin-right: 30px;
  border-radius: 40px; }

.review-text {
  color: #222224;
  font-size: 16px;
  letter-spacing: 0.4px; }

.review-p {
  font-style: italic;
  line-height: 26px; }

.review-heading {
  color: #f16d7f;
  font-weight: 700;
  margin-bottom: 0; }

.review-place {
  font-size: 12px;
  /*    font-weight: 300; */
  line-height: 14px;
  letter-spacing: 0.3px; }

.subscribe-text {
  color: #222224;
  text-transform: uppercase; }

.subscribe-heading {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px; }

.subscribe-p {
  letter-spacing: 0.35px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 25px; }

.subscribe-form {
  display: flex;
  justify-content: center; }

.subscribe-email {
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding: 0 28px;
  border: 0; }

.subscribe-btn {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  border: 0;
  padding: 0 20px; }

.subscribe-btn:hover {
  border-radius: 0 23px 23px 0;
  outline: 0; }

.copyright-social-box {
  background-color: #e6e6e6; }

.copyright-social {
  height: 79px;
  display: flex;
  justify-content: space-between; }

.copyright {
  display: flex;
  align-items: center; }

.social {
  display: flex;
  align-items: center; }

.icon {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  margin-right: 8px;
  background-color: #fff;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.4px; }

.icon:last-of-type {
  margin-right: 0; }

.icon:hover {
  background-color: #f16d7f;
  color: #fff; }

.icon-disadled {
  opacity: 0.3; }

.icon-disadled:hover {
  color: #b2b2b2;
  background-color: #fff; }

.footer-info {
  display: flex;
  margin-bottom: 89px; }

.footer-text {
  color: #898989;
  font-size: 14px;
  /*    font-weight: 300; */
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-top: 25px; }

.footer-logo {
  width: 38%;
  margin-right: 63px; }

.footer-heading {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px; }

.footer-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer-link {
  text-decoration: none;
  display: block;
  width: 155px;
  height: 36px;
  line-height: 36px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px; }

.footer-column {
  margin-right: 80px; }

.footer-column:last-of-type {
  margin-right: 0; }

.breadcrumb {
  background-color: #f8f3f4;
  margin-bottom: 60px; }
  .breadcrumb-single {
    margin-bottom: 0; }

.breadcrumb-heading {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.breadcrumb-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px; }

.breadcrumb-list {
  list-style-type: none;
  display: flex; }

.breadcrumb-link {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  /*    font-weight: 300; */
  text-transform: uppercase; }

.breadcrumb-link:hover {
  color: #f16d7f; }

.breadcrumb-link:after {
  content: " / ";
  white-space: pre; }

.breadcrumb-item:last-of-type .breadcrumb-link {
  color: #f16d7f;
  font-weight: 700; }

.breadcrumb-item:last-of-type .breadcrumb-link:after {
  content: ""; }

.catalog-flex {
  display: flex;
  margin-bottom: 110px; }

.catalog-menu-box {
  width: 243px;
  margin-right: 50px; }

.catalog-box {
  width: 848px;
  display: flex;
  flex-direction: column; }

.catalog-menu-heading {
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  height: 37px;
  line-height: 37px;
  border-left: 5px solid #f16d7f;
  padding-left: 11px;
  vertical-align: middle;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 11px; }

.catalog-menu-list {
  list-style-type: none; }

.catalog-menu-link {
  text-decoration: none;
  display: block;
  height: 11px;
  line-height: 11px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  margin-left: 17px;
  padding: 11px 0; }
  .catalog-menu-link:hover {
    color: #f16d7f; }

.filter {
  display: flex;
  flex-direction: column; }

.top-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px; }

.form-filter {
  width: 262px; }

.top-filter-heading {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px; }

.trending-link {
  display: inline-block; }

.filter-text {
  padding: 0 11px;
  border-right: 1px solid #dfdfdf;
  text-decoration: none;
  color: #6f6e6e; }

.filter-text-span:first-of-type {
  padding-left: 0; }

.filter-text-span:last-of-type {
  border-right: none; }

.top-filter-text {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400; }

.filter-checkbox {
  border: 1px solid #ebebeb;
  background-color: #fff;
  width: 13px;
  height: 13px;
  margin-right: 9px; }

.filter-label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 40px; }

.checkbox-item {
  display: flex;
  align-items: center; }

.checkbox-box {
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; }

.c-prod-name {
  color: #6f6e6e; }
  .c-prod-name:hover {
    color: #f16d7f; }

.cat-item-product {
  width: 263px;
  margin-bottom: 36px; }

.filter-range {
  border-radius: 3px;
  background-color: #f0f0f0; }

.filter-range:focus {
  outline: none; }

.pagination {
  display: flex;
  justify-content: space-between; }
  .pagination-nav {
    display: flex;
    justify-content: space-between; }
  .pagination-list {
    list-style-type: none;
    display: flex;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    height: 44px; }
  .pagination-item {
    display: block;
    width: 27px; }
  .pagination-link {
    text-decoration: none;
    display: block;
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    padding: 0 8px;
    line-height: 44px; }
    .pagination-link:hover {
      color: #f16d7f; }
    .pagination-link-current {
      color: #f16d7f; }
    .pagination-link-disable {
      color: #aaa; }
      .pagination-link-disable:hover {
        color: #aaa; }

.filter-sort {
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 10px 13px; }

.bottom-filter {
  background-color: #f3f3f3;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 10px; }

.form-sort {
  display: flex;
  justify-content: left; }

.filter-link:hover {
  color: #f16d7f; }

.filter-show {
  margin-left: 10px; }

.single-product {
  position: relative; }

.sp-img {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #f7f7f7;
  height: 777px;
  display: flex;
  justify-content: center;
  padding-top: 11px; }

.sp-empty {
  height: 763px; }

.sp-desc {
  position: absolute;
  width: 1140px;
  height: 730px;
  top: 693px;
  left: 50%;
  margin-left: -570px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 262px;
  padding-right: 262px;
  padding-top: 60px; }
  .sp-desc-headingBox {
    position: relative;
    margin-bottom: 18px; }
  .sp-desc-heading {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 14px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    margin: 0; }
    .sp-desc-heading-border {
      background-color: #ef5b70;
      width: 63px;
      height: 3px;
      position: absolute;
      top: 43px;
      left: 50%;
      margin-left: -32px; }
  .sp-desc-name {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    padding: 0;
    margin-bottom: 60px; }
  .sp-desc-text {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px; }
  .sp-desc-material {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
    text-transform: uppercase;
    margin-bottom: 18px; }
    .sp-desc-material-span {
      color: #b9b9b9; }
    .sp-desc-material-left {
      margin-right: 44px; }
  .sp-desc-price {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-bottom: 43px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 60px; }
    .sp-desc-price:before {
      content: "$"; }
  .sp-desc-box {
    display: flex;
    flex-direction: column;
    width: 537px; }
  .sp-desc-setForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px; }
  .sp-desc-set {
    display: flex;
    flex-direction: column;
    width: 144px; }
    .sp-desc-set-label {
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    .sp-desc-set-select, .sp-desc-set-input {
      border: 1px solid #eaeaea;
      box-sizing: border-box;
      background-color: #fff;
      width: 144px;
      height: 35px;
      margin-top: 16px;
      color: #bcbcbc;
      font-size: 13px;
      padding-left: 16px; }

.div-select {
  position: relative;
  display: inline-block; }

.sp-select {
  padding-right: 25px; }
  .sp-select:after {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: right;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box; }
  .sp-select-color {
    padding-left: 37px; }

.sp-single-product {
  display: flex;
  flex-direction: column; }
  .sp-single-product-heading {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 9px; }

/*# sourceMappingURL=style-sass.css.map */
